# Static properties
CommonProperty=@Common.Name@
EnterpriseProperty=@Enterprise.Name@

# Logical Properties
ServiceProperty=@Service.Name@
EnvironmentProperty=@Environment.Name@
ApplicationProperty=@Application.Name@

# Physical Properties
DatacentreProperty=@Datacentre.Name@
RackProperty=@Rack.Name@
NodeProperty=@Node.Name@
